@use "sass:map";

// responsive
@mixin breakpoint($size) {
    /* stylelint-disable-next-line media-feature-name-no-unknown */
    @media (mediaquery("property"): #{ 
            breakpoint($size) + 
            mediaquery("unit")
		}
	) {
        @content;
    }
}
@mixin desktop {
    @media not all and (hover: none) {
        @content;
    }
}

// transitions and states
@mixin transition($type, $properties...) {
	$transition: map.get($transitions, $type);

    transition-property: $properties;

	@each $property, $value in $transition {
		transition-#{$property}: $value;
	}
}
@mixin state(
    $states, 
    $onlyProperty: null,
    $typeTransition: button
) {
    $is-svg: is-svg($onlyProperty);
    $property: null;
    $value: null;

    @each $state, $stateValue in $states {
        @if $state == default {
            @if $onlyProperty and $is-svg {
                path {@include transition($typeTransition, $onlyProperty)};

            } @else if $onlyProperty {
                @include transition($typeTransition, $onlyProperty);

            } @else {
                @include transition($typeTransition, map-keys($stateValue));
            }
        }

        @each $eachProperty, $eachValue in $stateValue {
            @if $onlyProperty {
                $property: $onlyProperty;
                $value: $stateValue;
            } @else {
                $property: $eachProperty;
                $value: $eachValue;
            }
            
            @if $state == default {
                @if $is-svg {
                    path {#{$property}: $value;};

                } @else {
                    #{$property}: $value;
                }

            } @else if $state == hover {
                &:hover #{$is-svg} {
                    #{$property}: $value;
                }

            } @else if $state == active {
                &:active #{$is-svg} {
                    #{$property}: $value;
                }
            }
        }
    }
}

// general
@mixin center {
    margin-left: auto;
    margin-right: auto;
}
