@use "sass:map";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.subtitle {
  line-height: 1.5;
  font-weight: 600;
  padding-bottom: 2rem;
}

.container > p {
  padding-block: 2rem;
}

.float-right {
  float: right;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: map.get($accent-colors, danger);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .nes-pokeball, a { margin-left: 1rem; }
}
