body {
	background: linear-gradient(
        247.12deg, 
        color("supportLight2") -0.29%, 
        color("supportLight1") 100%
	);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
