@use "sass:color";
@use "sass:map";

body {
  background-image: linear-gradient(
    map.get($colors, support-dark-2) 0.1em,
    transparent 0.1em
  ),
    linear-gradient(
    90deg,
    map.get($colors, support-dark-2) 0.1em,
    transparent 0.1em
  );
  background-size: 3em 3em;
  display: block;
  margin-top: 15rem;
}

.navbar {
  overflow: hidden;
  background-color: map.get($accent-colors, primary);
  position: fixed;
  top: 0;
  width: 100vw;
  left: 0;
  height: 6rem;
  padding: 2px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .to-home,
    img {
      max-height: 5rem;
    }
  }
}

.bordered {
  border: 1px map.get($colors, support-dark-2) solid;
  border-radius: 10px;
  /* stylelint-disable-next-line scss/no-global-function-names */
  box-shadow: 5px 5px lighten(map.get($colors, support-dark-2), 52%);
}

.pokemon-information {
  display: grid;
  grid-template-areas: "sprite data" "description description" "more more";

  .sprite {
    grid-area: sprite;

    img {
      min-width: 300px;
    }
  }

  .data {
    grid-area: data;

    .quick-information {
      margin-bottom: 2rem;

      .pokemon-name {
        padding-inline: 1rem;
        border-radius: 10px 10px 0 0;
        display: flex;
        align-items: center;
        color: map.get($colors, support-light-1);
        background-color: map.get($accent-colors, danger);
        border-bottom: map.get($accent-colors, danger);

        img {
          height: 20px;
          margin-right: 1ch;
        }

        .pokemon-number {
          margin-right: 1ch;
        }
      }

      .pokemon-types {
        display: flex;
        padding: 1rem;
        border-radius: 0 0 10px 10px;
        background-color: map.get($colors, support-light-1);

        span {
          background-color: #68A090;
          border-radius: 5px;
          margin-right: 5px;
          padding-inline: 5px;

          &.normal { background-color: #A8A878;}
          &.fire { background-color: #F08030; }
          &.fighting { background-color: #C03028; }
          &.water { background-color: #6890F0; }
          &.flying { background-color: #A890F0; }
          &.grass { background-color: #78C850; }
          &.poison { background-color: #A040A0; }
          &.electric { background-color: #F8D030; }
          &.ground { background-color: #E0C068; }
          &.psychic { background-color: #F85888; }
          &.rock { background-color: #B8A038; }
          &.ice { background-color: #98D8D8; }
          &.bug { background-color: #A8B820; }
          &.dragon { background-color: #7038F8; }
          &.ghost { background-color: #705898; }
          &.dark { background-color: #705848; }
          &.steel { background-color: #B8B8D0; }
          &.fairy { background-color: #EE99AC; }
        }
      }
    }

    .detailed-information {
      display: flex;
      margin-bottom: 2rem;

      .item {
        border-top: 1rem solid map.get($accent-colors, danger);
        padding: 1rem;
        display: flex;
        margin-right: 2rem;

        img {
          min-height: 50px;
          min-width: 50px;
          aspect-ratio: initial;
        }
      }

      .pokemon-stats {
        padding-block: 1rem;

        span {
          margin: 1rem;
        }

        hr {
          margin-block: 1rem;
          border: dotted 2px map.get($colors, support-dark-2);
        }
      }
    }
  }

  .description {
    grid-area: description;
    background-color: map.get($accent-colors, danger);

    p {
      padding: 1rem;
      margin: 2px 3rem;
      background-color: map.get($colors, support-light-1);
      border-inline: map.get($accent-colors, danger);
    }
  }

  .more {
    grid-area: more;
  }
}
